/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}

#header {
    min-height: 150px;
    background-color: green;
}

#navigation {
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 10px 0px 0px 4px;
}

#main_content {
    min-height: 400px;
    width: 705px;
    background-color: red;
    padding: 7px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
    display: inline-block;
}

#advertisement {
    min-height: 120px;
    width: 680px;
    background-color: purple;
    margin: 10px;
}