* {
    margin: 0px;
    padding: 0px;
    outline: 1px dashed red;
    font-family: sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
    background-color: white;
}

#header {
    padding: 10px 0px;
    background-color: black;
}

#header h1 {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    color: white;
    font-size: 15px;
}

#header p {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    width: 520px;
    text-align: right;
    font-size: 10px;
    color: white;
}

#main1 {
    background-color: white;
    padding: 20px;
}

#help {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 5px;
    height: 200px;
    vertical-align: top;
}

#help img {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    width: 400px;
    margin-left: 500px;
}

#main2 {
    background-color: white;
    padding: 20px;
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 5px;
    height: 100px;
    font-size: 12px;
    vertical-align: top;
}

#footer {
    display: inline-block;
    width: 1000px;
    margin: 0px auto;
    height: 200px;
    background-color: black;
}

#contact {
    background-color: black;
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 330px;
    height: 180px;
    vertical-align: top;
}

#support {
    background-color: black;
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 330px;
    height: 180px;
    vertical-align: top;
}

#want {
    background-color: black;
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 330px;
    height: 180px;
    vertical-align: top;
}