* {
    margin: 0px;
    padding: 0px;
    outline: 1px dashed red;
    font-family: sans-serif;
}

#contenedor {
    width: 1000px;
    margin: 0px auto;
}

#header {
    width: 1000px;
    height: 20px;
    background-color: black;
    color: white;
    padding: 20px;
}

#main {
    width: 1000px;
    height: 400px;
}

#footer {
    width: 1000px;
    height: 200px;
}